kaggle
torch
opencv-contrib-python
scikit-learn==1.2.2
pandas
numpy
albumentations
awscli
jupyter
scikit-image==0.22.0
joblib==1.4.2
h5py==3.10.0
imbalanced-learn
matplotlib
scikit-learn-intelex
optuna
torcheval
torchvision
albumentations